In [ ]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

In [ ]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

In [ ]:
for i in range(5):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

In [ ]:
for i in range(5):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

In [ ]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

In [ ]:
for i in range(5,0,-1):
    for j in range(i):
        print(j+1,end=" ")
    print()

In [ ]:
row=5
for i in range(row):
    # 0 1 2 3 4
    for _ in range(row-i-1):
        print(" ",end=" ")
    for _ in range(2*i+1):
        print("*",end=" ")
    print()

In [ ]:
row=5
for i in range(row,0,-1):
    for _ in range(row-i):
        print(" ",end=" ")
    for _ in range(2*i-1):
        print("*",end=" ")
    print()

In [ ]:
row=5
for i in range(row):
    for _ in range(row-i-1):
        print(" ",end=" ")
    for _ in range(2*i+1):
        print("*",end=" ")
    print()

for i in range(row,0,-1):
    for _ in range(row-i):
        print(" ",end=" ")
    for _ in range(2*i-1):
        print("*",end=" ")
    print()

In [ ]:
row=5
for i in range(2*row):
    if i<row:
        print("* " * (i+1))
    elif i>row:
        print("* " * (2*row-i))

In [ ]:
row=5
# 0 1 2 3 4
for i in range(row):
    # 0%2
    if i%2==0:
        # 1
        start=1
    else:
        start=0
    
    # j -> 1
    for j in range(i+1):
        # 1
        print(start,end=" ")
        # start=1-1=0   
        start=1-start
    
    print()

In [ ]:
row=6
for i in range(row):
    s=""
    for j in range(i+1):
        s+=str(j+1)
    s+=str(" " * (2*row-(2*i+2)))
    for j in range(i+1,0,-1):
        s+=str(j)
    print(s)

In [ ]:
row=5
count=0
for i in range(row):
    for _ in range(i+1):
        count+=1
        print(count, end=" ")
    print()

In [ ]:
row=5
for i in range(row):
    for j in range(i+1):
        print(chr(ord('A')+j), end=" ")
    print()

In [ ]:
row=5
for i in range(row):
    for j in range(row-(i+1)+1):
        print(chr(ord('A')+j), end=" ")
    print()

In [ ]:
row=5
for i in range(row):
    for _ in range(i+1):
        print(chr(ord('A')+i),end=" ")
    print()

In [ ]:
row=5
for i in range(row):
    s=""
    s+=" "*(row-i-1)
    for j in range(2*i+1):
        if j<=i:
            ch=ord('A')+j
            s+=chr(ch)
        else:
            ch-=1
            s+=chr(ch)
            
    s+=" "*(row-i-1)
    print(s)
    print()

In [ ]:
row=5
for i in range(row):
    ch=ord('A')+row-i-1
    for j in range(i+1):
        print(chr(ch+j),end=" ")
    print()

In [ ]:
row=5
count=1
while count<=row:
    for i in range(row):
        for _ in range(row-i):
            print("*",end=" ")
        for _ in range(i*2):
            print(" ",end=" ")
        for _ in range(row-i):
            print("*",end=" ")
        count+=1
        print()
else:
    for i in range(row):
        for _ in range(i+1):
            print("*", end=" ")
        for _ in range(2*row-(2*i)-2):
            print(" ",end=" ")
        for _ in range(i+1):
            print("*", end=" ")
        print()

In [ ]:
row=5
count=1
while count<=row:
    for i in range(row):
        for _ in range(i+1):
            print("*",end=" ")
        for _ in range(2*row-(2*i)-2):
            print(" ",end=" ")
        for _ in range(i+1):
            print("*",end=" ")
        count+=1
        print()
else:
    for i in range(row-1,0,-1):
        for _ in range(i):
            print("*",end=" ")
        for _ in range((2*row)-(2*i)):
            print(" ",end=" ")
        for _ in range(i):
            print("*",end=" ")
        print()

In [ ]:
row=5
for i in range(row):
    if i==0 or i==row-1:
        for _ in range(row):
            print("*",end="")
    else:
        print("*",end="")
        print(" "*(row-2),end="")
        print("*",end="")
    print()